body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #d6caff;
    text-align: center;
    background-image: url("./imagens/fundo.png");
    background-position: center;
    margin: 0px;
    padding: 20px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 60px;
    background-color: #a18eff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    top: -20px;
    left: -80px;
}

nav {
    display: flex;
    gap: 90rem;
    align-items: center;
}

.logoNav {
    height: 60px;
    display: block;
    margin: -7px;
}


/* botão  */

.btnCartela {
    background-color: #301981;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 80px;
    margin-bottom: 2px;
}

.btnCartela:hover {
    background-color: #9d75e7;
}


/* bolinha central e foto */

.foto {
    width: 100%;
    height: 50rem;
    bottom: 0;
}

#bola {
    font-size: 60px;
    font-weight: bold;
    color: #000000;
    margin-top: 28.5rem;
    z-index: 1;
    position: absolute;
    left: 57.8rem;
}

.todo {
    justify-content: center;
    align-items: center;
    position: relative;
}


/* botões */

.btn {
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    background-color: #e5dcff;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #a291dc;
    transform: scale(1.05);
}

#mensagem {
    margin-top: 50px;
    font-size: 90px;
    font-weight: bold;
    color: rgb(218, 0, 0);
}


/* área do bingo  */

#bingoBoard {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    gap: 120px;
}

.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letra {
    font-size: 200px;
    font-weight: bold;
    margin-bottom: 10px;
}

.numeros {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* bolinhas do histórico */

.numero {
    background: white;
    border: 5px solid #54009d;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
}