body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #bfb7ff;
    text-align: center;
    background-image: url("./imagens/BINGO2.png");
    background-position: center;
    margin: 0;
    padding: 20px;
}


/* NAV BAR  */

.navBar {
    display: flex;
    padding: 8px 20px;
    background-color: #a18eff;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logoContainer {
    display: flex;
    align-items: center;
}


/* logo da nav */

.logoNav {
    height: 60px;
    display: block;
    margin-bottom: -7px;
}


/* botão  */

.btnCartela {
    background-color: #301981;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 80px;
    margin-bottom: 2px;
}

nav {
    display: flex;
    gap: 90rem;
    align-items: center;
}

.btnCartela:hover {
    background-color: #9d75e7;
}

h1 {
    color: #ff66b2;
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px #00000020;
}

.bingoContainer {
    position: relative;
    width: 853px;
    height: 768px;
    margin: 0 auto;
}

.bingoContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./imagens/BINGO.png") no-repeat center;
    background-size: cover;
    z-index: 20;
    pointer-events: none;
}

#bingoCard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    width: 300px;
    margin: 143px;
    padding-top: 160px;
}

.criar {
    width: 105px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c3b3ff;
    border: 2px solid #6f00ff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    color: white;
    text-shadow: 2px 2px 5px #000;
    transition: 0.3s;
}

.cartelaMarcado {
    background: #b677ff;
    color: white;
    border-radius: 15px;
    pointer-events: none;
}

.cartelaBingo {
    background-color: #7ff3cc !important;
    color: white;
    font-weight: bold;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    background-color: #6816ac;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #8b33ff;
    transform: scale(1.05);
}

.botoes {
    margin-top: -120px;
}

.sorteado {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #8b5cf6;
}

.frase {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    color: #ff4081;
}

.resultado {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10rem;
    margin-top: -10rem;
}